$text-color: #e3e3e3;
$red-color: rgb(223, 36, 36);
$light-dark-color: #8d8d8d;
$yellow-color: #d5c943;
$blue-color: color rgb(88 101 242);
$green-color: #08fdd8;
$dark-color: #2b2b2b;
$dark2-color: #181818;;
$background-color: #1d1d1d;
$background-color-dark: #0e0e0e;